<h3 class="mb-3">記事の作成</h3>
<%= form_with model: @article, scope: :article, local: true do |f| %>
  <label class="block size-full">
    <%= f.file_field :image, id:"file-input", class: "d-none" %>
    <!-- クリック可能な画像 -->
    <label for="file-input" style="cursor: pointer;">
      <% if @article.image.attached? %>
        <%= image_tag @article.image, id: "preview-image", class: "img-thumbnail vw-100 vh-25" %>
      <% else %>
        <%= image_tag "160x90.png", id: "preview-image", class: "img-thumbnail vw-100 vh-25" %>
      <% end %>
    </label>
  </label>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title, class: "form-control me-2" %>
  <%= f.label :content, "コンテンツ" %>
  <%= f.text_area :content, class: "form-control me-2", size:"50x8", maxlength: "400"%>
  <%= f.label :linkurl, "URL" %>
  <%= f.url_field :linkurl, class: "form-control me-2" %>
  <%= f.submit "保存", class: "btn btn-outline-primary"%>
<% end %>
<script>
document.addEventListener("DOMContentLoaded", () => {
  const fileInput = document.getElementById("file-input");
  const previewImage = document.getElementById("preview-image");

  fileInput.addEventListener("change", (event) => {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();

      reader.onload = (e) => {
        previewImage.src = e.target.result;
      };

      reader.readAsDataURL(file);
    }
  });
});
</script>