<div class="fs-lg">
  <%= @article.title %>
</div>
<br>
<div>
  <%= @article.content %>
</div>
<br>
<div>
  <%= @article.subcategory.category.name %>
</div>
<br>
<div>
  <%= @article.subcategory.name %>
</div>
<br>
<!-- 別タブで開く target: :_blank, rel: "noopener noreferrer" -->
<div>
<%= link_to @article.linkurl, @article.linkurl, target: :_blank, rel: "noopener noreferrer"%>
</div>

<% if user_signed_in? && current_user.id == @article.user_id %>
  <br>
  <%= button_to "編集", edit_article_path, method: :get, class:"btn btn-secondary" %>
  <%= button_to "削除", article_path, method: :delete, class:"btn btn-danger" %>
<% end %>
