<h1>ユーザー詳細</h1>

<h2><%= @user.username %></h2>

<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% elsif @canCreateRoom %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める", class:"btn-primary"%>
    <% end %>
  <% end %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path %>

<div class="text-end mt-4 me-4">
  <%# もし、user.idがcurrent_userと一致しないならフォローボタンかフォロー解除ボタンを表示させる %>
  <% if current_user.id != @user.id %>
    <% if @user.is_followed_by?(current_user) %>
      <%= link_to user_relationships_path(@user), data: { "turbo-method": :delete }, class: "btn btn-outline-primary" do %>
        <%= @user.username %> をフォロー解除
      <% end %>
    <% else %>
      <%= link_to user_relationships_path(@user), data: { "turbo-method": :post }, class: "btn btn btn-primary" do %>
        <%= @user.username %> をフォロー
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="d-flex relationsip">
  <div class="follow">
    <p>
      <span>
        <%= link_to @user.followings.count, followings_user_path(@user), class: "follow-link-count" %>
      </span>
      | Following
    </p>
  </div>
  <div class="follow">
    <p>
      <span>
        <%= link_to @user.followers.count, followers_user_path(@user), class: "follow-link-count" %>
      </span>
      | Followers
    </p>
  </div>
</div>
