<h4 class="rooms-title">気になる同士</h4>
<% @entries.each do |e| %>
  <div class="user-name">
  <strong>
   <%= image_tag "default_icon.png", class:"rounded-circle mt-2 ", alt:"メニュー", size:"32x32"%>
      <a class="rooms-user-link" href="/users/<%= e.user.id %>">
        <%= e.user.username %>さん
      </a>
  </strong>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-face">
            <%= image_tag "default_icon.png", class:"rounded-circle mt-2 ", alt:"メニュー", size:"32x32"%>
            <%= m.user.username %>さん
          </div>
          <div class="chat-hukidashi"> 
            <div class="text-wrap">
              <strong><%= m.content %></strong>
            </div>
            <br>
            <%= time_ago_in_words(m.created_at) %>前
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_for @message do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , size: 70, maxlength: 70, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
</div>
